<p id="notice"><%= notice %></p>


<% if params[:page].nil? || params[:page] == 1 %>
<h2>Invalid Donors</h2>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Important!</h4>
  <p>
    The donors below are not having their data reflected in Planning Center
    because the system is unable to find a matching person.
  </p>
  <hr>
  <p class="mb-0">
    Please map the donors below to the respective Planning Center Person.
  </p>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Donor</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
   <tbody>
    <% Donor.invalid.each do |donor| %>
      <tr>
        <td>
          <strong><%= donor.full_name %></strong><br/>
          <% if donor.address_1 %>
            <%= donor.address_1 %><br/>
          <% end %>
          <% if donor.address_2 %>
            <%= donor.address_2 %><br/>
          <% end %>
          <%= donor.city %>, <%= donor.state %> <%= donor.zip_code %><br/>
        </td>
        <td><%= donor.phone %></td>
        <td><%= donor.email %></td>
        <td><%= link_to 'Edit', edit_donor_path(donor), class: "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<h2>Donors</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Donor</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">Planning Center</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @donors.each do |donor| %>
      <tr>
        <td>
          <strong><%= donor.full_name %></strong><br/>
          <% if donor.address_1 %>
            <%= donor.address_1 %><br/>
          <% end %>
          <% if donor.address_2 %>
            <%= donor.address_2 %><br/>
          <% end %>
          <%= donor.city %>, <%= donor.state %> <%= donor.zip_code %><br/>
        </td>
        <td><%= donor.phone %></td>
        <td><%= donor.email %></td>
        <td>
          <%= donor.planning_center_person&.full_name %>
        </td>
        <td><%= link_to 'Edit', edit_donor_path(donor), class: "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @donors %>