<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-6 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">Forgot your password?</h1>
      <p class="col-lg-10 fs-4">
        Lets get you back in the system. Please enter the email address you
        use to sign in to the system.
      </p>
    </div>
    <div class="col-10 mx-auto col-lg-6">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), builder: BootstrapBuilder, html: { method: :post, class: 'p-5 border rounded-3 bg-light' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          placeholder: "email address",
                          required: true,
                          wrapping_class: "form-floating" %>
        <div class="mt-4">
          <%= f.form_submit "Send me reset password instructions" %>
        </div>
        <hr class="my-4">
        <small class="text-muted"><%= render 'devise/shared/links' %></small>
      <% end %>
    </div>
  </div>
</div>
