<p id="notice"><%= notice %></p>

<h1><%= @batch.description %></h1>

<p>
  <strong>Status:</strong>
  <%= @batch.status %>
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Donor</th>
      <th scope="col">Allocations</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @batch.transactions.includes(transaction_allocations: [:fund]).each do |transaction| %>
      <tr>
        <td><%= transaction.issue_date.strftime('%m/%d/%Y') %></td>
        <td><%= number_to_currency transaction.amount %></td>
        <td>
          <strong><%= "#{transaction.first_name} #{transaction.last_name}" %></strong><br/>
          <% if transaction.address_1 %>
            <%= transaction.address_1 %><br/>
          <% end %>
          <% if transaction.address_2 %>
            <%= transaction.address_2 %><br/>
          <% end %>
          <%= transaction.city %>, <%= transaction.state %> <%= transaction.zip_code %><br/>
        </td>
        <td>
          <ul class="transaction-allocation-list">
            <% transaction.transaction_allocations.each do |allocation| %>
              <li><%= allocation.fund.name %> <%= number_to_currency allocation.amount %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <% if transaction.unprocessable? %>
            <%= link_to 'Map to Planning Center Person', edit_batch_transaction_path(@batch, transaction), class: 'btn btn-outline-danger' %>
          <% end %>

          <% if transaction.unprocessed? %>
            <span class="badge bg-success rounded-pill">Processed</span>
          <% end %>

          <% if transaction.processed? %>
            <span class="badge bg-warning text-dark rounded-pill">Waiting to be processed</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', batches_path %>
