<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<div class="btn-group" role="group" aria-label="Transaction Filters">
  <%= link_to 'Needs Processed', transactions_path(filter: 'unprocessed'), class: "btn btn-outline-primary #{"active" if session[:transaction_filter] == 'unprocessed'}" %>
  <%= link_to 'Cannot Process', transactions_path(filter: 'unprocessable'), class: "btn btn-outline-primary #{"active" if session[:transaction_filter] == 'unprocessable'}" %>
  <%= link_to 'Processed', transactions_path(filter: 'processed'), class: "btn btn-outline-primary #{"active" if session[:transaction_filter] == 'processed'}" %>
  <%= link_to 'All Transactions', transactions_path(filter: 'all'), class: "btn btn-outline-primary #{"active" if session[:transaction_filter] == 'all'}" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Donor</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= number_to_currency transaction.amount %></td>
        <td><%= transaction.processing_status %></td>
        <td>
          <strong><%= "#{transaction.first_name} #{transaction.last_name}" %></strong><br/>
          <% if transaction.address_1 %>
            <%= transaction.address_1 %><br/>
          <% end %>
          <% if transaction.address_2 %>
            <%= transaction.address_2 %><br/>
          <% end %>
          <%= transaction.city %>, <%= transaction.state %> <%= transaction.zip_code %><br/>
        </td>
        <td><%= link_to 'Process Donation', submission_transaction_path(transaction), class: "btn btn-outline-primary", method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
